.counter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__heading {
        margin: 10px;
    }
    &__tally {
        text-align: center;
        margin: 10px;
    }
    &__buttons {
        display: flex;
        justify-content: space-around;
    .counter__button {
        width: 5vw;
        height: 5vh;
        border: 3px solid black;
        border-radius: 50px;
        margin: 5px;
        background-color: rgb(255, 162, 162);
    }
    }
}