

.card__id-div {
    height: 15vh;
    width: 25vw;
    padding: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card__name {
    width: 20vw;
    font-size: 35px;
    padding: 5px;
}
.card__role {
    width: 20vw;
    padding: 5px;
    font-size: 25px;
    font-style: italic;
}

@media screen and (max-width: 720px) {
    .card__id-div {
        width: 75vw;
        padding: 20px;
    }
    .card__name {
        width: 75vw;
    }
    .card__role {
        width: 75vw;
    }
}