

.card__id-div {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card__name {
    width: fit-content;
    margin: 0;
}
.card__role {
    width: fit-content;
    margin: 0;
}