.card {
    height: 40vh;
    width: 20vw;
    border-radius: 5px;
    padding: 10px;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 0.5rem;
    background-color: whitesmoke;
}

@media screen and (max-width: 720px) {
    .card {
        width: 80vw;
    }
}